@font-face {
    font-family: Guthen Bloots;
    src: url("./Fuentes_tipograficas/Guthen-Bloots.ttf");
}

@font-face {
    font-family: Oswald-Heavy;
    src: url("/Fuentes_tipograficas/Oswald-Heavy.ttf");
}

@font-face {
    font-family: Oswald-Light;
    src: url("/Fuentes_tipograficas/Oswald-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: #fce3c0;

}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Estilos aplicados del contenedor */
.container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(1px, 1fr) 1fr;
    gap: 1rem;
    padding: 1rem;
    width: 100vw;
    height: 100vh;
}

.card {
    padding: 0 1rem 1rem;
    text-align: center;
    background-color: rgb(222, 144, 0);
    box-shadow: 8px 8px 15px #518338;
    border-radius: 10px;
}

.card__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    margin-top: 10px;
}

.card__items {
    /* border: 2px solid black; */
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.card__item {
    display: block;
    width: 100%;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #cecece;
    padding: 8px 5px;
    line-height: 1.1;
    /* margin-bottom: 1px; */
    transition: all 0.4s ease-out;
    /* box-shadow: 0px 0px 10px rgb(255, 255, 255); */
    border-radius: 5px;
    background-color: #1f400ff2;
}


.card__item:hover, .accordion:hover {
    background-color: rgba(0, 0, 0, 0.75);
}

.accordion:after {
    content: "\002B";
    color: #cecece;
    float: right;
    margin-right: 0.5rem;
}

.accordion-content {
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.75);
    transition: 0.4s ease-out;
    /*box-shadow: 0px 0px 20px 0 #fff; */
    border-radius: 10px;
    font-family: "Oswald-Light";
    line-height: 1.9rem;
    background-color: #fff;
    gap: 10px;

}

.accordion-content h1 {
    margin: .75rem 0;
    cursor: pointer;
    color: black;
    transition: 1s ease-out;
}

.accordion-content h1:hover {
    background-color: rgb(222, 144, 0);
}

.container_hide {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    color: #fff;
    background-color: black;
}

.cerrar_boton {
    background: none;
    color: #fff;
    border: transparent;
    font-size: 20px;
    font-weight: 600;
    cursor: pointer;
}

/* Estilos aplicados para el contenedor oculto OTROS */
.info_promos, .info_horarios-club {
    background-color: #518338;
}

.container_hide-promos {
    display: grid;
    grid-template-columns: 25% 45% auto;

}

.container_hide-info-title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.container_hide-info {
    padding: 1rem;
}

.container_hide-info-list {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}


.imagen_container {
    display: flex;
    justify-content: end;
}

.container_hide-title {
    display: flex;
    justify-content: space-between;
    font-family: "Oswald-Heavy";
    font-size: 25px;
    padding: 0 100px;
}

.title_promo {
    text-align: center;
    font-family: "Guthen Bloots";
    font-size: 80px;
    letter-spacing: 3px;
    font-weight: 300;

}

.imagen_logo {
    height: 70px;
    width: auto;
}

.container_hide-promos > .container_hide-info:first-child {
    margin-left: 100px;
    border-left: 5px solid #fff;
}

.container_hide-promos > .container_hide-info:nth-child(2) {
    border-right: 5px solid #fff;
}

/* Estilos aplicados para para el contenedor oculto CLUB */
.info_horarios-club .container_hide-info h1 {
    font-family: 'Oswald';
    font-size: 40px;

}

.info_horarios-club .container_hide-info p {
    font-family: 'Oswald-Light';
    font-size: 40px;
}

.container_hide > .container_hide-info:nth-child(n+2) {
    text-align: center;
}

/* Estilos aplicados para para el contenedor oculto CLASES */
.clases_title {
    font-family: "Guthen Bloots";
    font-size: 60px;
    font-weight: 600;
    letter-spacing: 1.2px;
    line-height: 0.9;

}

.clases_name {
    font-family: 'Oswald';
    font-size: 40px;
}

.info_horarios-clases {
    background-color: #D68A3E;

}

.container_hide-info-clases {
    display: flex;
    padding-left: 100px;
}

.container_hide-info-clases-list {
    width: 50%;
}

.info_horarios-clases .container_hide-info-clases p {
    font-family: 'Oswald-Light';
    font-size: 40px;
}

/* Estilos aplicados para para el contenedor oculto PRECIOS MULTIMES LIBRE */
.multimes__prices {
    display: grid;
    grid-template-columns: auto auto auto;
    padding: 30px;
    gap: 1rem;
}

.multimes__content {
    text-align: center;
}

.multimes__title {
    font-family: "Guthen Bloots";
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 0.9;
}

.multimes__paragraph {
    color: #999999;
    font-family: 'Oswald-Light';
    font-size: 50px;
    font-weight: 400;
    line-height: 1;
}

.multimes__info {
    border-left: 5px solid #D68A3E;
    padding-left: 1rem;
}

.multimes__info-title {
    font-family: 'Oswald';
    font-size: 35px;
    text-decoration: 3px underline #D68A3E;
}

.multimes__info-list {
    font-family: 'Oswald-Light';
    font-size: 30px;
    list-style: none;
}


@media (max-width: 768px) {
    /* Estilos aplicados para dispositivos con un ancho mÃ¡ximo de 768px */
    .card__title {
        font-size: 50px;
    }

    .card__item {
        font-size: 30px;
    }
}
