@font-face {
    font-family: Guthen Bloots;
    src: url("/Fuentes_tipograficas/Guthen\ Bloots\ Personal\ Use.ttf");
}

@font-face {
    font-family: Oswald-Heavy;
    src: url("/Fuentes_tipograficas/Oswald-Heavy.ttf");
}

@font-face {
    font-family: Oswald-Light;
    src: url("/Fuentes_tipograficas/Oswald-Light.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    /* outline: 1px solid red; */
}

body {
    background-color: #fce3c0;
    
}

a {
    text-decoration: none;
}

li {
    list-style: none;
}

/* Estilos aplicados del contenedor */
.container {
    padding: 1rem;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: column;

}

.container__card {
    flex: 1;
}

.first_row {
    display: grid;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    padding-bottom: 1rem;
}

.second_row {
    display: grid;
    grid-template-columns: 50% auto;
    gap: 1rem;
}


.card {    
    padding: 0 1rem 1rem;
    text-align: center;
    background-color: rgb(222, 144, 0);
    box-shadow: 8px 8px 15px  #518338;
    border-radius: 10px;
}

.card__title {
    font-family: 'Oswald', sans-serif;
    font-weight: 600;
    font-size: 60px;
    line-height: 1;
    margin-top: 10px;
}

.card__items {
    /* border: 2px solid black; */  
    margin-top: 1.5rem;
    display: flex;
    flex-direction: column;
    gap: .8rem;
}

.card__item {
    display: block;
    width: 100%;
    cursor: pointer;
    font-family: 'Oswald', sans-serif;
    font-weight: 700;
    font-size: 40px;
    color: #cecece;
    padding: 8px 5px;
    line-height: 1.1;
    /* margin-bottom: 1px; */
    transition: all 0.4s ease-out;
   /* box-shadow: 0px 0px 10px rgb(255, 255, 255); */
    border-radius: 5px;
    background-color: #1f400ff2;
}


.card__item:hover, .accordion:hover{
    background-color: rgba(0, 0, 0, 0.75);
}   

.accordion:after { 
    content: "\002B";
    color: #cecece;    
    float: right;
    margin-right: 0.5rem;
}

.accordion-content {
    padding: 0 1rem;
    color: rgba(0, 0, 0, 0.75);
    transition: 0.4s ease-out;
    /*box-shadow: 0px 0px 20px 0 #fff; */
    border-radius: 10px;
    font-family: "Oswald-Light";
    line-height: 1.9rem;
    background-color: #fff;
    gap: 10px;

}

.accordion-content li { 
    margin: .75rem 0;
    cursor: pointer;
    color: black;
    transition: 0.4s ease-out;
    font-weight: 800;
    font-size: 40px;
    padding: 10px 0;
    border-radius: 5px;
}

.accordion-content li:hover {       
    background-color: rgb(222, 144, 0);
}

.container_hide {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 75%;
    height: 75%;
    color: #fff;
    background-color: black;
    overflow: auto;
}

.cerrar_boton {
    position: absolute;
    top: 20px;
    left: 20px;
    background: none;
    color: #fff;
    border: transparent;
    font-size: 30px;
    font-weight: 600;
    cursor: pointer;
}
/* Estilos aplicados para el contenedor oculto Nuevos socios/reinscripciones */
.promo_efectivo {
    background-color: #518338;
}

.promo_items {
    margin-top: 10px;
}

.promo_efectivo h5 {
    font-family: "Oswald-Heavy";
    font-size: 25px;
}

.promo_items li {
    font-family: "Oswald-Light";
    font-size: 50px;
    font-weight: 900;
    line-height: 1.5;
}

.promo_items p {
    font-family: "Oswald-Light";
    font-size: 40px;
    line-height: 5;
}

/* Estilos aplicados para el contenedor oculto VIGENTES */
.info_promos, .info_horarios-club {
    background-color: #518338;
}

.container_hide-promos {
    display: grid;
    grid-template-columns: 25% 45% auto;
    
}

.container_hide-info-title {
    font-family: 'Oswald', sans-serif;
    font-size: 30px;
}

.container_hide-info {
    padding: 1rem 0rem 1rem 1rem;
    text-align: left;
}

.container_hide-info-list {
    list-style: none;
    font-family: 'Oswald', sans-serif;
    font-size: 20px;
}


.imagen_container{    
    display: flex;
    justify-content: end;
}

.container_hide-title {
    display: flex;
    justify-content: space-between;
    font-family: "Oswald-Heavy";
    font-size: 20px;
    padding: 0 100px;
}

.title_promo {
    text-align: center;
    font-family: "Guthen Bloots";
    font-size: 80px;
    letter-spacing: 3px;
    font-weight: 400;
}

.imagen_logo {
    height: 70px;
    width: auto;
    padding-right: 10px;
}

.container_hide-promos > .container_hide-info:first-child {
    margin-left: 50px;
    border-left: 5px solid #fff;
}

.container_hide-promos > .container_hide-info:nth-child(2) {
    border-right: 5px solid #fff;
}
/* Estilos aplicados para el contenedor oculto PELUQUERIA */
.container__services {
    display: flex;
    padding: 20px;
}

.services__type img {
    height: 250px;
}

.services__type p {
    text-align: center;
    font-size: 30px;
    font-weight: 500;
    color: #fff;
    font-family: Oswald-Light;
}

.items {
    width: 100%;
    padding-left: 40px;
}

.services__item {
    display: flex;
    justify-content: space-between;
    padding: 0px 10px;
    font-size: 25px;
    font-family: Oswald-Light;
    letter-spacing: 2px;
}

.black {
    background-color: rgba(88, 88, 88, 0.678);
}

/* Estilos aplicados para para el contenedor oculto CLUB */
.info_horarios-club .container_hide-info h1 {
    font-family: 'Oswald';
    font-size: 40px;
    
}

.info_horarios-club .container_hide-info p{
    font-family: 'Oswald-Light';
    font-size: 40px;    
}

.container_hide > .container_hide-info:nth-child(n+2) {
    text-align: center;
}

/* Estilos aplicados para para el contenedor oculto CLASES */
.clases_title {
    font-family: "Guthen Bloots";
    font-size: 60px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 0.9;
    
}

.clases_name {
    font-family: 'Oswald';
    font-size: 40px;
}

.info_horarios-clases {
    background-color: #D68A3E;
    
}

.container_hide-info-clases {
    display: flex;
    padding-left: 100px;
}

.container_hide-info-clases-list {
    width: 50%;
}

.info_horarios-clases .container_hide-info-clases p {
    font-family: 'Oswald-Light';
    font-size: 40px;
}

/* Estilos aplicados para para el contenedor oculto PRECIOS MULTIMES LIBRE */
.multimes__prices {
    /*display: grid;
    grid-template-columns: auto auto auto;*/
    display: flex;
    justify-content: space-evenly;
    padding: 30px;
    gap: 1rem;
}

.multimes__content {
    text-align: center;
}

.multimes__title {
    font-family: "Guthen Bloots";
    font-size: 80px;
    font-weight: 500;
    letter-spacing: 1.2px;
    line-height: 0.9;
}

.multimes__paragraph{
    color: #999999;
    font-family: 'Oswald-Light';
    font-size: 50px;
    font-weight: 400;
    line-height: 1.1;
}

.multimes__info {
    border-left: 5px solid #D68A3E;
    padding-left: 1rem;
}

.multimes__info-title {
    font-family: 'Oswald';
    font-size: 35px;
    text-decoration: 3px underline #D68A3E;
}

.multimes__info-list {
    font-family: 'Oswald-Light';
    font-size: 30px;
    list-style: none;
}

/* Estilos aplicados para para el contenedor oculto MEDIOS DE PAGO.  */
.mercado_pago, .app__gym {
    background-color: #fff;
    border: 3px solid black;

}

.nose {
    display: flex;
    width: 100%;
    height: 100%;
    justify-content: space-around;
    align-items: center;
}

.container__imagen-logo {
    margin-left: 50px;
    max-width: 350px;
    height: auto;

}

.container__imagen {
    height: auto;
    width: 500px;

}


@media (max-width: 768px) {
    /* Estilos aplicados para dispositivos con un ancho máximo de 768px */
    .card__title {
        font-size: 50px;
    }

    .card__item {
        font-size: 30px;
    }

    .multimes__title {
        font-size: 60px;
    }
    
    .multimes__paragraph{
        font-size: 30px;
    }

    .multimes__info-title {
        font-size: 30px;
    }

    .multimes__info-list {
        font-size: 25px;
    }   

    .multimes__info-list li{
        margin: 10px;
    }
    
}

@media (max-width: 425px) {
    .multimes__prices {
        flex-direction: column;
    }

    .multimes__info-title {
        font-size: 35px;
    }

    .multimes__info-list {
        font-size: 30px;
    }   

    .multimes__info-list li{
        margin: 8px;
    }
}

@media (max-height: 800px) {
    .card__title {
        font-size: 45px;
    }

    .card__item {
        font-size: 30px;
    }

    .accordion-content {
        height: auto;
    }

    .accordion-content li{
        padding: 0;
        font-size: 20px;
    }
}

@media (max-width: 680px) {
    .first_row {
        display: flex;
        flex-direction: column;
    }
    
    .second_row {
        display: flex;
        flex-direction: column;
    }

    .container__imagen {
        height: auto;
        max-width: 300px;

    }

    .nose {
        flex-direction: column;
    }
}